ONEDRIVE_USERNAME=
ONEDRIVE_PASSWORD=
SHAREPOINT_PERSONAL_PATH=
FOLDERS_ENCRYPTION_KEY=


  # Si querés rebrand.ly con key:ß
  URL_SHORTENER_ENDPOINT=https://api.rebrandly.com/v1/links
  URL_SHORTENER_METHOD=POST
  URL_SHORTENER_API_KEY=
  URL_SHORTENER_KEY_HEADER=apikey
  URL_SHORTENER_BODY_KEY=destination
  URL_SHORTENER_RESPONSE_KEY=shortUrl
  URL_SHORTENER_DOMAIN=rebrand.ly